<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="~{fragments/nav :: siteHeader('Reset Password')}"></div>
<main class="container">
    <form th:action="@{|/users/${userId}/password|}" method="post">
        <label>New password: <input type="password" name="password" /></label><br/>
        <button type="submit">Update Password</button>
    </form>
</main>
</body>
</html>